<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
    <link
            href="/css/loginstyle.css"
            type="text/css" data-template-style="true" rel="stylesheet" />
    <title>Выход</title>
</head>

<body cz-shortcut-listen="true">
<header>
    <nav class="b-nav">
        <a href="/index.html" class="b-nav__logo hidden-sm hidden-xs">
            <img width="223" src="/img/logo_rus.gif" height="41" alt="Метровагонмаш">
        </a>
    </nav>
</header>
<div class="login-p">
    <div class="login-f">
        <form class="form-signin" method="get" action="/logout">
            <h2 class="form-signin-heading">Вы уверены, что хотите выйти?</h2>
            <button class="btn btn-lg btn-primary btn-block " type="submit">Выход</button>
        </form>

        </form>
    </div>
</div>
</body></html>