<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
    <link
        href="/css/loginstyle.css"
        type="text/css" data-template-style="true" rel="stylesheet" />
    <title>Вход</title>
</head>
<body>
<header>
    <nav class="b-nav">
        <a href="/index.html" class="b-nav__logo hidden-sm hidden-xs">
            <img width="223" src="/img/logo_rus.gif" height="41" alt="Метровагонмаш">
            
        </a>
    </nav>
</header>

<div class="login-p">
    <div class="login-f">
    <form th:action="@{/registration}" th:object="${userData}" method="post">
        <div>
            <p>Логин</p>
             <input type="text" name="username" th:field="*{login}"/>
        </div>
        <div>
            <p>Пароль</p>
             <input type="password" name="password" th:field="*{password}"/>
        </div>
        <div>
            <p>Имя</p>
            <input type="text" name="name"/> </div>
        <div>
            <p>Фамилия</p>
            <input type="text" name="surname"/> </div>
        <div>
            <p>Отчество</p>
            <input type="text" name="middlename"/> </div>
        <div>
            <p>Вн. номер тел.</p>
            <input type="tel" name="telephone"/>
        </div>
        <br>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="submit" value="Регистрация"/>
        <input type="reset" value="Сбросить"/>
        </div>
    </form>
    </div>
</div>
</body>
</html>