<html lang="ru"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="index, follow" />
    <META http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
            <link href='/css/loginstyle.css' rel='stylesheet' />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>ВКС</title>
</head>
<body>
<header>
    <nav class="b-nav">
        <a href="/templates/index.html" class="b-nav__logo hidden-sm hidden-xs">
            <img width="223" src="/img/logo_rus.gif" height="41" alt="Метровагонмаш">
        </a>
        <div class="auth-panel">
            <h2>
                <a sec:authorize="isAnonymous()" class="" href="/auth/login" role="button">Вход</a>
                <a sec:authorize="isAuthenticated()" class="" href="/auth/logout" role="button">Выход</a>
            </h2>
        </div>
    </nav>
</header>

<div class="login-p">
    <div class="login-f">
<div class="card text-center" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">880123449</h5>
      <p class="card-text"></p>
      <a href="/calendar" class="btn btn-primary">Комната</a>
    </div>
  </div>
  <br>
  <div class="card text-center" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">880123449</h5>
      <p class="card-text"></p>
      <a href="/calendar" class="btn btn-primary">Комната</a>
    </div>
  </div>
  <br>
<div class="card text-center" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">880123449</h5>
      <p class="card-text"></p>
      <a href="/calendar" class="btn btn-primary">Комната</a>
    </div>
  </div>
    </div>
</div>
</body>
</html>